# Configuration de la base de données MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=resource_management
MYSQL_USER=api_user
MYSQL_PASSWORD=apipassword
DB_PORT=3307

# Configuration de l'API
API_PORT=3001
NODE_ENV=production

# Options
RUN_SEED=false

# Configuration pour développement local (si vous n'utilisez pas Docker)
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=YOUR_PASSWORD
# DB_NAME=resource_management
# PORT=3001